.container.main{"ng-app"=>"todo", 'ng-controller'=>'ProjectController'}
  %h1.text-center SIMPLE TODO LISTS
  %p.text-center FROM RUBY GARAGE
  
  .col-xs-12.text-center{'ng-if'=>'!showData'}
    %h6
      {{ message }}

  %todo_projects

  .row
    .col-xs-12.center-block.add-list-button
      %button.btn.btn-primary.main_button{'ng-click'=>'newProject()'}
        = image_tag('icon-plus-blue.fw.png')
        Add TODO List
  .row
    .col-xs-12
      %br
      %br