<div class='project' ng-if='showData' ng-repeat="project in projects | orderBy: '-created_at'">
  <div class='row title-box'>
    <div class='hidden-xs note-box'>
      <img src="/assets/icon-note.fw-838dc61d86fce46504de66b20525d7b3856a5dc6eeef2f566384baa220d26ee6.png" alt="Icon note.fw" />
    </div>
    <div class='col-xs-10 col-sm-10'>
      <span e-form='editProject' editable-text='project.name' id='{{ $index }}' name='project' onaftersave='updateProject(project)' onbeforesave='validateName($data)'>
        {{ project.name }}
      </span>
    </div>
    <div class='col-xs-2 col-sm-2'>
      <ul class='list-inline top-icons pull-right hide'>
        <li>
          <a class='editProject' ng-click='editProject.$show()' ng-hide='editProject.$visible'>
            <img src="/assets/icon-pensil-top.fw-db46a2298102e37518443be7c6bc27af7f3dab8dd5267cd4cad4672df44c6f08.png" alt="Icon pensil top.fw" />
          </a>
        </li>
        <li>
          <a class='removeProject' ng-click='removeProject(project)'>
            <img src="/assets/icon-trash-top.fw-f4ab3744fbcf8c22c833d9e82ce4007586a7e2d9568dd3053c97f9ac7a9a2a2b.png" alt="Icon trash top.fw" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <todo_project_tasks></todo_project_tasks>
  <div class='row owner'>
    <div ng-show='user.email'>
      <p class='text-center'>
        © {{ project.owner }}
      </p>
    </div>
  </div>
</div>
