.container.main{'ng-controller'=>'ProjectController'}
  .title
    %h1.text-center SIMPLE TODO LISTS
    %h4.text-center FROM RUBY GARAGE

  .row.text-center
    %p{'ng-if'=>'user.image'}
      %img{'ng-src'=>'{{user.image}}'}
      %br
      {{user.name}}
      %br
      %button.btn.btn-danger.main_button{'ng-controller'=>'UserSessionsCtrl','ng-click'=>'signOut()'}
        Logout
    %p{'ng-if'=>'!user.image'}
      {{ user.email }}
      %br
      %button.btn.btn-danger.main_button{'ng-controller'=>'UserSessionsCtrl','ng-click'=>'signOut()'}
        Logout
  
  .col-xs-12.text-center{'ng-if'=>'!showData'}
    %h6
      {{ message }}
      
  %todo_projects
  
  .row
    .col-xs-12.center-block.todo-buttons
      %button.btn.btn-primary.main_button{'ng-click'=>'newProject()'}
        = image_tag('icon-plus-blue.fw.png')
        Add TODO List

  .row
    .col-xs-12
      %br
      %br