.project{'ng-if'=>'showData','ng-repeat'=>"project in projects | orderBy: '-created_at'"}
  .row.title-box
    .hidden-xs.note-box
      = image_tag('icon-note.fw.png')
    .col-xs-10.col-sm-10
      %span{'editable-text'=>'project.name', 'e-form'=>'editProject', 'onaftersave'=>'updateProject(project)', 'onbeforesave'=>'validateName($data)', 'name'=>"project", 'id' => "{{ $index }}"}
        {{ project.name }}
    .col-xs-2.col-sm-2
      %ul.list-inline.top-icons.pull-right.hide
        %li
          %a.editProject{'ng-click'=>'editProject.$show()', 'ng-hide'=>'editProject.$visible'} 
            = image_tag('icon-pensil-top.fw.png')
        %li
          %a.removeProject{'ng-click'=>'removeProject(project)'}
            = image_tag('icon-trash-top.fw.png')
  %todo_project_tasks
  .row.owner
    %div{{'ng-show'=> 'user.email'}}
      %p.text-center
        © {{ project.owner }}