body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container.main {
  max-width: 700px;
}

.project {
  padding-top: 20px;
}

.title-box {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  min-height: 52px;
  background-image: url('background-title-full.fw2.png');
  background-size: cover;
  border: 1px solid #315589;

  a {
    color: #fff;
  }
  div {
    vertical-align: bottom;
  }
}

.title-box:hover {
  cursor: pointer;
  ul {
    display: block !important;
  }
}

.note-box {
  min-width: 24px;
  padding-left: 15px;
  padding-right: 0;
}

@media (max-width: 468px) { 

  .title-box {
    font-size: 12px;
  }

  .content-text {
    font-size: 12px;
  }

}

.top-icons {
  
  margin: 0;
  min-width: 62px;

  li {
    padding-left: 5px;
    padding-right: 7px;
    line-height: 16px;
    border-right: 1px solid #5284bf;
  }

  li:last-child {
    border-right: none;
  }

}

.form-box {
  display: flex;
  align-items: center;
  min-height: 50px;
  border-right: 1px solid #b1b2a2;
  border-left: 1px solid #b1b2a2;
  border-bottom: 1px solid #aaaaaa;
  background-color: #e1e1e1;

  .form-control {
    height: 30px;
    border-radius: 0;
  }

  button.datepick {
    height: 30px;
  }

  button.submit {
    color: #fff !important;
    padding: 0 23px !important;
    height: 30px;
    border:1px solid #447557; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #94CBAE; background-image: -webkit-gradient(linear, left top, left bottom, from(#94CBAE), to(#508767));
    background-image: -webkit-linear-gradient(top, #94CBAE, #508767);
    background-image: -moz-linear-gradient(top, #94CBAE, #508767);
    background-image: -ms-linear-gradient(top, #94CBAE, #508767);
    background-image: -o-linear-gradient(top, #94CBAE, #508767);
    background-image: linear-gradient(to bottom, #94CBAE, #508767);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#94CBAE, endColorstr=#508767);
  }

  button.submit :hover {
    border:1px solid #51a87a;
    background-color: #72ba94; background-image: -webkit-gradient(linear, left top, left bottom, from(#72ba94), to(#3d674f));
    background-image: -webkit-linear-gradient(top, #72ba94, #3d674f);
    background-image: -moz-linear-gradient(top, #72ba94, #3d674f);
    background-image: -ms-linear-gradient(top, #72ba94, #3d674f);
    background-image: -o-linear-gradient(top, #72ba94, #3d674f);
    background-image: linear-gradient(to bottom, #72ba94, #3d674f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#72ba94, endColorstr=#3d674f);
  }
}

.content-box {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-right: 1px solid #b0b2a1;
  border-left: 1px solid #b0b2a1;
  border-bottom: 1px solid #e7ebea;

  .divider {
    position: absolute;
    margin-left: 15px;
    min-height: 48px;
    height: 100%;
    min-width: 6px;
    border-left: 1px solid #efdadf;
    border-right: 1px solid #efdadf;
    top: 0;
  }

  .check-box {
    margin-left: 17px;
    max-width: 13px;
  }

  .content-text {
    color: #999999;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 50px;
    height: 100%;
    padding-left: 30px;
    padding-right: 15px;
    border-right: 1px solid #e7ebea;
  }

  ul {
    margin: 0;
  }

  .icons-edit {
    text-align: center;
    min-width: 102px;
  }


  blockquote {
    font-size: 12px;
    margin: 0;
  }

}

.sort > .tasks:last-child {
  .content-text {
    padding-bottom: 30px;
  }
  .content-box {
    margin-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #aaafa4;
  }
}

.row.content-box:hover {
  cursor: pointer;
  background-color: #fcfed5 !important;

  ul {
    display: block !important;
  }
}


.add-list-button {
  text-align: center;

  button {
    margin-top: 20px;
    font-size: 16px;
    width: 211px;
    background-image: url('background-title-full.fw2.png');
    padding: 12px 10px;
    border-radius: 2px;
    border: 1px solid #315589;

    img {
      float: left;    
    }
  }
}